In [12]:
from sqlalchemy import create_engine
import pandas as pd
from dotenv import load_dotenv
import os

In [13]:
load_dotenv()
secret_key = os.getenv("POSTGRES_PWD")

In [14]:
engine = create_engine("postgresql://postgres:"+secret_key+"@localhost:5432/rental_db")

In [15]:
engine

Engine(postgresql://postgres:***@localhost:5432/rental_db)

In [16]:
query = "select * from city"
pd.read_sql(query, engine)

     city_id                city  country_id         last_update
0          1  A Corua (La Corua)          87 2006-02-15 04:45:25
1          2                Abha          82 2006-02-15 04:45:25
2          3           Abu Dhabi         101 2006-02-15 04:45:25
3          4                Acua          60 2006-02-15 04:45:25
4          5               Adana          97 2006-02-15 04:45:25
..       ...                 ...         ...                 ...
595      596               Zaria          69 2006-02-15 04:45:25
596      597        Zeleznogorsk          80 2006-02-15 04:45:25
597      598         Zhezqazghan          51 2006-02-15 04:45:25
598      599            Zhoushan          23 2006-02-15 04:45:25
599      600          Ziguinchor          83 2006-02-15 04:45:25

[600 rows x 4 columns]

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
from dotenv import load_dotenv
import os
load_dotenv()
secret_key = os.getenv("POSTGRES_PWD")
engine = create_engine("postgresql://postgres:"+secret_key+"@localhost:5432/rental_db")