In [64]:
import pandas as pd

In [65]:
df = pd.read_csv('Resources/Week11-Day1-Activity2-diabetes.csv')

In [66]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [67]:
x = df.drop(columns='Outcome')
y = df['Outcome']

In [68]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [69]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
#len(train_test_split(x,y))

In [72]:
#train_test_split(x,y)

In [85]:
#x_train = train_test_split(x,y)[0]
#x_test = train_test_split(x,y)[1]
#y_train = train_test_split(x,y)[2]
#y_test = train_test_split(x,y)[3]
x_train, x_test, y_train, y_test = train_test_split(x,y)

x2_train, x2_test, y2_train, y2_test = train_test_split(x,y)

In [87]:
#this has 75% of data for training
x_train.head()
#x2_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
114,7,160,54,32,175,30.5,0.588,39
597,1,89,24,19,25,27.8,0.559,21
723,5,117,86,30,105,39.1,0.251,42
706,10,115,0,0,0,0.0,0.261,30
480,3,158,70,30,328,35.5,0.344,35

In [88]:
x2_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
355,9,165,88,0,0,30.4,0.302,49
166,3,148,66,25,0,32.5,0.256,22
24,11,143,94,33,146,36.6,0.254,51
560,6,125,76,0,0,33.8,0.121,54
301,2,144,58,33,135,31.6,0.422,25

In [75]:
#this has 25% of data for testing
x_test.shape

(192, 8)

In [76]:
y_train.shape

(576,)

In [77]:
y_test.shape

(192,)

In [78]:
from sklearn.linear_model import LogisticRegression

In [79]:
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [80]:

classifier.fit(x_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [81]:
classifier.coef_

array([[ 0.13454324,  0.03542136, -0.01754397,  0.00784719, -0.00156124,
         0.08492893,  0.94745779,  0.01546933]])

In [82]:
x_train.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'],
      dtype='object')

In [83]:
coef_df = pd.DataFrame(classifier.coef_)
coef_df.columns = x_train.columns
coef_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.134543,0.035421,-0.017544,0.007847,-0.001561,0.084929,0.947458,0.015469

In [89]:
coefficients = pd.DataFrame({
    'Feature': x.columns,
    'Coefficient': classifier.coef_[0]
})
coefficients

                    Feature  Coefficient
0               Pregnancies     0.134543
1                   Glucose     0.035421
2             BloodPressure    -0.017544
3             SkinThickness     0.007847
4                   Insulin    -0.001561
5                       BMI     0.084929
6  DiabetesPedigreeFunction     0.947458
7                       Age     0.015469

In [90]:
#y_predictions = classifier.predict(x_test)
predictions = classifier.predict(x_test)
#y_predictions
predictions

array([0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0])

In [91]:
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [95]:
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(results['Actual'], results['Prediction']).ravel()

In [97]:
accuracy = (tp + tn) / (tp + fn + fp + tn)
accuracy

0.7760416666666666

In [98]:
precision = tp / (tp + fp)
precision

0.7058823529411765

In [99]:
recall = tp / (tp + fn)
recall

0.5625

In [96]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions ))

              precision    recall  f1-score   support

           0       0.80      0.88      0.84       128
           1       0.71      0.56      0.63        64

    accuracy                           0.78       192
   macro avg       0.75      0.72      0.73       192
weighted avg       0.77      0.78      0.77       192