In [1]:
#Week3-Day3-Activity3-crypto_data.csv

import pandas as pd
df = pd.read_csv("Resources/Week3-Day3-Activity3-crypto_data.csv")
df.head(10)

  cryptocurrency   data_price data_date     data_time     timestamp
0        bitcoin          NaN    5/9/17  1.494290e+12  1.557290e+12
1        bitcoin  1743.723523   5/10/17  1.494370e+12           NaN
2        bitcoin  1828.678209   5/11/17  1.494460e+12           NaN
3        bitcoin  1776.443919   5/12/17  1.494550e+12           NaN
4        bitcoin  1714.964198   5/13/17  1.494630e+12           NaN
5        bitcoin  1789.278913   5/14/17  1.494720e+12           NaN
6        bitcoin  1742.722945   5/15/17  1.494810e+12           NaN
7        bitcoin          NaN   5/16/17  1.494890e+12           NaN
8        bitcoin  1802.035054   5/17/17  1.494980e+12           NaN
9        bitcoin  1840.501678   5/18/17  1.495070e+12           NaN