In [13]:
# =GOOGLEFINANCE("FB", "price", "2/12/2019", "5/14/2019", "DAILY")

import pandas as pd
df = pd.read_csv("Resources/Week3-Day3-QuickNotes1-Sheet1.csv")
# pd.read_csv(csv_path, index_col='Date', parse_dates=True, infer_datetime_format=True)
#is this more efficient to do it this way?

In [14]:
df['Date']

0      2/12/2021 16:00:00
1      2/16/2021 16:00:00
2      2/17/2021 16:00:00
3      2/18/2021 16:00:00
4      2/19/2021 16:00:00
              ...
264     3/2/2022 16:00:00
265     3/3/2022 16:00:00
266     3/4/2022 16:00:00
267     3/7/2022 16:00:00
268     3/8/2022 16:00:00
Name: Date, Length: 269, dtype: object

In [15]:
df['Date'].iloc[0]

'2/12/2021 16:00:00'

In [16]:
#this is a string right now
type(df['Date'].iloc[0])

str

In [17]:
# we are casting this to change the string to Date Time Object
df['Date'] = pd.to_datetime(df['Date'])

In [18]:
#this is a now a DateTime right now
type(df['Date'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [19]:
#
df['Percentage Change'] = df['Close'].pct_change()

In [20]:
df.shape

(269, 3)

In [21]:
df

                   Date   Close  Percentage Change
0   2021-02-12 16:00:00  270.50                NaN
1   2021-02-16 16:00:00  273.97           0.012828
2   2021-02-17 16:00:00  273.57          -0.001460
3   2021-02-18 16:00:00  269.39          -0.015279
4   2021-02-19 16:00:00  261.56          -0.029066
..                  ...     ...                ...
264 2022-03-02 16:00:00  208.11           0.022704
265 2022-03-03 16:00:00  202.97          -0.024698
266 2022-03-04 16:00:00  200.06          -0.014337
267 2022-03-07 16:00:00  187.47          -0.062931
268 2022-03-08 16:00:00  190.29           0.015042

[269 rows x 3 columns]