In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('./diabetes.csv')

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
X = df.drop(columns='Outcome')
y = df['Outcome']

In [8]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [9]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
split = train_test_split(X, y)

In [13]:
split

[     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
 519            6      129             90              7      326  19.6
 300            0      167              0              0        0  32.3
 289            5      108             72             43       75  36.1
 755            1      128             88             39      110  36.5
 490            2       83             65             28       66  36.8
 ..           ...      ...            ...            ...      ...   ...
 578           10      133             68              0        0  27.0
 243            6      119             50             22      176  27.1
 558           11      103             68             40        0  46.2
 447            0       95             80             45       92  36.5
 437            5      147             75              0        0  29.9

      DiabetesPedigreeFunction  Age
 519                     0.582   60
 300                     0.839   30
 289                     0.263   33
 755                     1.057   37
 490                     0.629   24
 ..                        ...  ...
 578                     0.245   36
 243                     1.318   33
 558                     0.126   42
 447                     0.330   26
 437                     0.434   28

 [576 rows x 8 columns],
      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
 61             8      133             72              0        0  32.9
 291            0      107             62             30       74  36.6
 82             7       83             78             26       71  29.3
 92             7       81             78             40       48  46.7
 25            10      125             70             26      115  31.1
 ..           ...      ...            ...            ...      ...   ...
 565            2       95             54             14       88  26.1
 496            5      110             68              0        0  26.0
 76             7       62             78              0        0  32.6
 250            9      106             52              0        0  31.2
 498            7      195             70             33      145  25.1

      DiabetesPedigreeFunction  Age
 61                      0.270   39
 291                     0.757   25
 82                      0.767   36
 92                      0.261   42
 25                      0.205   41
 ..                        ...  ...
 565                     0.748   22
 496                     0.292   30
 76                      0.391   41
 250                     0.380   42
 498                     0.163   55

 [192 rows x 8 columns],
 519    0
 300    1
 289    0
 755    1
 490    0
       ..
 578    0
 243    1
 558    0
 447    0
 437    0
 Name: Outcome, Length: 576, dtype: int64,
 61     1
 291    1
 82     0
 92     0
 25     1
       ..
 565    0
 496    0
 76     0
 250    0
 498    1
 Name: Outcome, Length: 192, dtype: int64]

In [14]:
len(split)

4

In [15]:
split[0]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
519,6,129,90,7,326,19.6,0.582,60
300,0,167,0,0,0,32.3,0.839,30
289,5,108,72,43,75,36.1,0.263,33
755,1,128,88,39,110,36.5,1.057,37
490,2,83,65,28,66,36.8,0.629,24
...,...,...,...,...,...,...,...,...
578,10,133,68,0,0,27.0,0.245,36
243,6,119,50,22,176,27.1,1.318,33
558,11,103,68,40,0,46.2,0.126,42
447,0,95,80,45,92,36.5,0.330,26
437,5,147,75,0,0,29.9,0.434,28

In [16]:
X.shape

(768, 8)

In [17]:
split[1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
61,8,133,72,0,0,32.9,0.270,39
291,0,107,62,30,74,36.6,0.757,25
82,7,83,78,26,71,29.3,0.767,36
92,7,81,78,40,48,46.7,0.261,42
25,10,125,70,26,115,31.1,0.205,41
...,...,...,...,...,...,...,...,...
565,2,95,54,14,88,26.1,0.748,22
496,5,110,68,0,0,26.0,0.292,30
76,7,62,78,0,0,32.6,0.391,41
250,9,106,52,0,0,31.2,0.380,42
498,7,195,70,33,145,25.1,0.163,55

In [18]:
split[2]

519    0
300    1
289    0
755    1
490    0
      ..
578    0
243    1
558    0
447    0
437    0
Name: Outcome, Length: 576, dtype: int64

In [19]:
split[3]

61     1
291    1
82     0
92     0
25     1
      ..
565    0
496    0
76     0
250    0
498    1
Name: Outcome, Length: 192, dtype: int64

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
classifier = LogisticRegression(random_state=0)

In [22]:
X_train, X_test, y_train, y_test = split

classifier.fit(X_train, y_train)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [23]:
classifier.coef_

array([[ 1.65659398e-01,  2.30480313e-02, -2.25500499e-02,
        -2.02408300e-03, -2.20171667e-04,  4.59898848e-02,
         2.08030311e+00,  5.10613544e-04]])

In [24]:
X.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'],
      dtype='object')

In [38]:
coefficients = pd.DataFrame({
    'Feature': X.columns,
    'Coefficient': classifier.coef_[0]
})
coefficients

                    Feature  Coefficient
0               Pregnancies     0.165659
1                   Glucose     0.023048
2             BloodPressure    -0.022550
3             SkinThickness    -0.002024
4                   Insulin    -0.000220
5                       BMI     0.045990
6  DiabetesPedigreeFunction     2.080303
7                       Age     0.000511

In [27]:
y_preds = classifier.predict(X_test)
y_preds

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1])

In [29]:
results = pd.DataFrame({"Prediction": y_preds, "Actual": y_test}).reset_index(drop=True)

In [30]:
results

     Prediction  Actual
0             0       1
1             0       1
2             0       0
3             0       0
4             0       1
..          ...     ...
187           0       0
188           0       0
189           0       0
190           1       0
191           1       1

[192 rows x 2 columns]

In [31]:
from sklearn.metrics import confusion_matrix

In [32]:
tn, fp, fn, tp = confusion_matrix(results['Actual'], results['Prediction']).ravel()

In [33]:
tn

119

In [34]:
fp

14

In [35]:
fn

33

In [36]:
tp

26

In [39]:
len(y_test)

192

In [40]:
sum(y_test)

59

In [41]:
59/192

0.3072916666666667

In [48]:
accuracy = (tp + tn) / (tp + fn + fp + tn)
accuracy

0.7552083333333334

In [47]:
precision = tp / (tp + fp)
precision

0.65

In [46]:
recall = tp / (tp + fn)
recall

0.4406779661016949

In [51]:
from sklearn.metrics import classification_report
print(classification_report(results['Actual'], results['Prediction']))

              precision    recall  f1-score   support

           0       0.78      0.89      0.84       133
           1       0.65      0.44      0.53        59

    accuracy                           0.76       192
   macro avg       0.72      0.67      0.68       192
weighted avg       0.74      0.76      0.74       192