In [7]:
import pandas as pd
#bbd_df = pd.read_csv("Resources/Week3-Day3-Activity6-bombardier_stock_data.csv",index_col=0,parse_dates=True, infer_datetime_format=True)
bbd_df = pd.read_csv("Resources/Week3-Day3-Activity6-bombardier_stock_data.csv",index_col="Date", parse_dates=True,infer_datetime_format=True)
#bbd_df = pd.read_csv("Resources/Week3-Day3-Activity6-bombardier_stock_data.csv")
bbd_df.head(10)

            Close
Date
2019-03-01   2.90
2019-03-04   2.92
2019-03-05   2.95
2019-03-06   2.83
2019-03-07   2.88
2019-03-08   2.84
2019-03-11   2.85
2019-03-12   2.82
2019-03-13   2.89
2019-03-14   2.85

In [20]:
bbd_df.groupby([bbd_df.index.year,bbd_df.index.month]).first()

           Close
Date Date
2019 3      2.90
     4      2.68
     5      2.34

In [21]:
# Select BBD Close for May 2019
bbd_may_2019_data = bbd_df.groupby([bbd_df.index.year,bbd_df.index.month]).first()
bbd_may_2019_data.loc[2019, 5]

Close    2.34
Name: (2019, 5), dtype: float64