In [5]:
a = ['John','Sam','Albert','Oliver','Leslie']
a

['John', 'Sam', 'Albert', 'Oliver', 'Leslie']

In [7]:
a[2]+a[3]

'AlbertOliver'

In [9]:
#Here we are typecasting as Lists since the use of Square Bracket is a respresentation of a list
[a[2]]+[a[3]]

['Albert', 'Oliver']

In [24]:
# This will start the list from position 1
a[1:]

['Albert', 'Oliver']

In [25]:
a[-1] # This fetches the last element in the array

'Oliver'

In [23]:
# This will reverse the 
a[::-1]

['Oliver', 'Albert', 'Sam']

In [27]:
#queue= FIFO and stack = LIFO
a.append('Faye') #this appends an element at the end
a

['Sam', 'Albert', 'Oliver', 'Faye']

In [22]:
#poppping is the last one - stack implementation
# Append + pop() - Stack functionality
a.pop()

'Leslie'

In [18]:
a

['John', 'Sam', 'Albert', 'Oliver', 'Leslie', 'Faye']

In [19]:
a.pop(0) #Append + pop (0) - queue functionality

'John'

In [20]:
a

['Sam', 'Albert', 'Oliver', 'Leslie', 'Faye']

In [32]:
a.index('Oliver')
a

['Sam', 'Albert', 'Oliver', 'Faye']

In [37]:
a.insert(1,'John') #this inserts John in position one
a

['Sam', 'John', 'Albert', 'Oliver', 'Faye']

In [38]:
a.remove('John')
a

['Sam', 'Albert', 'Oliver', 'Faye']

In [39]:
enumerate(a)
#Lists are Mutable (can change)
#tuples are not Mutable - ie. cannot be changed

In [40]:
tuple(enumerate(a))

((0, 'Sam'), (1, 'Albert'), (2, 'Oliver'), (3, 'Faye'))